<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-5 mb-5 text-center">

  <h1 class="mb-6">System <%= t("features.title") %></h1>

  <div class="row feature-stamp">
    <div class="mt-6 col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary" style="background-color: white !important;">
          <i style="color: #B01E24 !important;" class="fas fa-comments fa-4x"></i></div>
        <h3 style="margin-bottom:0.5rem">Chats</h3>
        <h5> Send public and private messages</h5>
      </div>
    </div>
    <div class="mt-6 col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary" style="background-color: white !important;">
          <i style="color: #B01E24 !important;" class="fas fa-video fa-4x"></i></div>
        <h3 style="margin-bottom:0.5rem">Webcams</h3>
        <h5> Hold visual meetings</h5>
      </div>
    </div>
    <div class="mt-6 col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary" style="background-color: white !important;">
          <i style="color: #B01E24 !important;" class="fas fa-microphone fa-4x"></i></div>
        <h3 style="margin-bottom:0.5rem">Audio</h3>
        <h5> Communicate using high quality audio</h5>
      </div>
    </div>
    <div class="mt-6 col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary" style="background-color: white !important;">
          <i style="color: #B01E24 !important;" class="fas fa-hand-paper fa-4x"></i></div>
        <h3 style="margin-bottom:0.5rem">Emojis</h3>
        <h5> Express yourself</h5>
      </div>
    </div>
    <div class="mt-6 col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary" style="background-color: white !important;">
          <i style="color: #B01E24 !important;" class="fas fa-window-restore fa-4x"></i></div>
        <h3 style="margin-bottom:0.5rem">Breakout Rooms</h3>
        <h5> Group users into breakout rooms<br>for team collaboration</h5>
      </div>
    </div>
    <div class="mt-6 col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary" style="background-color: white !important;">
          <i style="color: #B01E24 !important;" class="fas fa-poll fa-4x"></i></div>
        <h3 style="margin-bottom:0.5rem">Polling</h3>
        <h5> Poll your users anytime</h5>
      </div>
    </div>
    <div class="mt-6 col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary" style="background-color: white !important;">
          <i style="color: #B01E24 !important;" class="fas fa-tv fa-4x"></i></div>
        <h3 style="margin-bottom:0.5rem">Screen Sharing</h3>
        <h5> Share your screen</h5>
      </div>
    </div>
    <div class="mt-6 col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary" style="background-color: white !important;">
          <i style="color: #B01E24 !important;" class="fas fa-chalkboard-teacher fa-4x"></i></div>
        <h3 style="margin-bottom:0.5rem">Muti-user whiteboard</h3>
        <h5> Draw together</h5>
      </div>
    </div>
  </div>

</div>
